/**
 * THINGS TO FIX
 * .vuepress/styles/palette.styl controls $codeBgColor

/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// Hip orange:
// #DF7D2C

// Hip dark blue
// #3C7EB8

// Text color of main "home" label
// on left of sidebar
$siteNameColor = white

// Background color of top navbar
$navBarBackground = #3C7EB8

// Color of text for navbar links on top right side
$navBarRightColor = white


$h1color = #3C7EB8
$h2color = #DF7D2C 

//@import url('http://fonts.googleapis.com/css?family=Open+Sans|Open Sans')
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700|Arvo')

// Can now specify font-family: "system"
// Source:
// https://css-tricks.com/snippets/css/system-font-stack/#article-header-id-0
// BUG: Don't think open sans works
@font-face {
  font-family: system;
  font-style: normal;
  src: local("Open Sans"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// Custom page class:
// https://v1.vuepress.vuejs.org/theme/default-theme-config.html#custom-page-class

// Example:
// https://github.com/pixelandtonic/vuepress-theme-craftdocs/blob/master/styles/override.styl
.news-page {
	margin-left: 3em;
}


html
	font-size: 20px

p, ol, ul, a
	font-size: 1rem
	font-family: system

p, ol, ul
	line-height: 1.4em


// Links in upper right navbar
.nav-links a 
	font-family: Arvo
	
// MAKE NAVBAR CONTRASTING
header.navbar
	background-color: $navBarBackground

// Change font color of main "home" label
// on left of sidebar
header.navbar .site-name
	color: $siteNameColor

// Change background color of nav links
.theme-container .navbar .links
	background-color: $navBarBackground

// Change color of top right navbar links text.
.theme-container .navbar 
	color: $navBarRightColor 


/* FAILS
.search-box input
	background-color: red

.navbar .links
	background-color: red

navbar.links
	background-color: red

.theme-container .navbar .links .search-box
	background-color: red

.theme-container .site-name
	color: white

.theme-container .site-name .home-link
	color: white


*/

//.theme-default-content, content__default
// Make content width about 70 characters
// to make reading easier.
//.theme-default-content:not(.custom)
//	max-width: 40em 	

// All this to change h1!
.theme-default-content:not(.custom) > h1:first-child
	font-size: 2.5em
	font-weight: 700
	line-height: .9em
	margin-top: 1em

h2
	border-bottom: none
	//color: $h2color
	font-family: Arvo, system
	font-size: 1.75em
	
h1
	font-family: Arvo, system 
	//color: $h1color 	
	

// Upper left corner home page link
.site-name
	font-size: 3em
	font-family: Arvo, system
	letter-spacing: .5em
	color: #271033
	color: red

// Most images are screen shots. 
// Give them a light border.
img
	display: block
	border: 1px solid lightgray
	padding: .5em
	box-shadow: 1px 1px 1px 1px #888888


// Color used for strings, variables, etc.
token.string, .token.char, .token.attr-value, .token.regex, .token.variable

// Comment color
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
	color: lighten($textColor, 10%)



// The keywords in lines of code themselves
.theme-default-content pre code, .theme-default-content pre[class*="language-"] code
	color: darken($textColor, 40%)


