/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// Hip orange:
// #DF7D2C

// Hip dark blue
// #3C7EB8

// Text color of main "home" label
// on left of sidebar
$siteNameColor = white

// Background color of top navbar
$navBarBackground = #3C7EB8

// Color of text for top navbar links on top right side
$navBarRightColor = white

// Text color of keywords in code blocks
$keywordColor = darken($textColor, 70%)

// Text color of comments in code blocks
$codeCommentColor = darkblue

// Text color of block quotes
$blockQuoteColor = black // #383838 

// h tag colors
$h1Color = black 
$h2Color = #DF7D2C

//@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap')
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700|Arvo')

// Can now specify font-family: "system"
// Source:
// https://css-tricks.com/snippets/css/system-font-stack/#article-header-id-0
// BUG: Don't think open sans works
@font-face {
  font-family: system;
  font-style: normal;
  src: local("Lato"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// Custom page class:
// https://v1.vuepress.vuejs.org/theme/default-theme-config.html#custom-page-class

// Example:
// https://github.com/pixelandtonic/vuepress-theme-craftdocs/blob/master/styles/override.styl
.news-page {
	margin-left: 3em;
}


html
	font-size: 20px

p, ol, ul, a
	font-size: 1rem
	font-family: 'Lato' 

p, ol, ul
	line-height: 1.4em

// Big ol' quote character that
// starts the blockquote
blockquote:before 
    display: block;
    content: "\201C";
    font-size: 2.5em
    position: absolute;
    left: -.05em //-20px;
    top: -.25em // -20px;
    color: white // #7a7a7a;

blockquote 
    font-family: Georgia, sans-serif;
    font-size: 2.5em;
    font-style: italic;
    width: 28rem 
    margin: 1.25em 0;
    padding: 01.35em 1em 
    line-height: 1.45;
    position: relative;
    color: $blockQuoteColor 
    background-color: $accentColor // black
    color: white

blockquote cite 
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;


blockquote cite:before 
    content: "\2014 \2009";


// Links in upper right navbar
.nav-links a 
	font-family: Arvo
	
// MAKE NAVBAR CONTRASTING
header.navbar
	background-color: $navBarBackground

// Change font color of main "home" label
// on left of sidebar
header.navbar .site-name
	color: $siteNameColor

// Change background color of nav links
.theme-container .navbar .links
	background-color: $navBarBackground

// Change color of top right navbar links text.
.theme-container .navbar 
	color: $navBarRightColor 


// All this to change h1!
.theme-default-content:not(.custom) > h1:first-child
	font-size: 3.5em
	font-weight: 700
	line-height: 1em
	margin-top: 1em
	font-family: Arvo 
	color: $h1Color 	
	
h2
	border-bottom: none
	color: $h2Color
	font-family: Arvo
	font-size: 1.75em
	

h3
	font-family: Arvo

h4
	font-size: 1em
	border-bottom: 3px solid black
	padding-bottom: .5em

h5
	font-size: 1em
	text-transform: uppercase
	font-weight: bold	
// Upper left corner home page link
.site-name
	font-size: 3em
	font-family: Arvo
	letter-spacing: .5em
	color: #271033
	color: red

// Most images are screen shots. 
// Give them a light border.
img
	display: block
	border: 1px solid lightgray
	padding: .5em
	box-shadow: 1px 1px 1px 1px #888888


// CHANGE HOW CODE IS DISPLAYED
// Comment color
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
	color: $codeCommentColor 

// The keywords in lines of code themselves
.theme-default-content pre code, .theme-default-content pre[class*="language-"] code
	color: $keywordColor 


