/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// Original: 
// $accentColor = #3eaf7c
// Used for links, among other things
$accentColor = #3C7EB8

// $textColor is inherited all the hell
// over the place.
$textColor = #2c3e50
$borderColor = #eaecef
// vuepress-pallete-styl-textcolor-default.png
// vuepress-pallete-styl-textcolor-change.png
// Background color for code blocks
// Original: #282c34
$codeBgColor = whitesmoke
