/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// Used for links, among other things
$accentColor = #3C7EB8

// $textColor is inherited all the hell
// over the place by default (for
// example, in the site name and navbar
// links) but overrides are possible.
$textColor = #2c3e50

// The single-pixel divider between sidebar and content
$borderColor = #eaecef

// Make background color for code blocks
// ligher.
// Original: #282c34
$codeBgColor = whitesmoke

// Make content widith about 72 chars
// to make reading easier
$contentWidth = 40em
